@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    list-style: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
    transition: all 200ms linear;
    /* outline: 1px solid black; */
}

:root {
    --nav_color: #070402;
    --section_color: #0C0B0B;
    --overflow_sec_clr: #1D1A1A;
    --orange_clr: #FF5300;

    --fm: "Poppins", sans-serif;

    --fw-500: 500;
    --fw-400: 400;
    --fw-700: 700;
    --fw-600: 600;

    --fs-36: 36px;
    --fs-18: 18px;
    --fs-28: 28px;
    --fs-14: 14px;
    --fs-32: 32px;
    --fs-48: 48px;
    --fs-96: 96px;
    --fs-22: 22px;
    --fs-60: 60px;

    --lh-54: 54px;
    --lh-32: 32px;
    --lh-42: 42px;
    --lh-33: 33px;
    --lh-25: 25px;
    --lh-61: 61px;
    --lh-95: 95px;

}

p {
    margin: 0;
}

.py-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.saint {
    font-weight: var(--fw-400);
    font-size: var(--fs-36);
    line-height: var(--lh-54);
    font-family: var(--fm);
    color: white;
}

.shiba {
    font-weight: var(--fw-700);
    font-size: var(--fs-36);
    line-height: var(--lh-54);
    color: var(--orange_clr);
    font-family: var(--fm);
}

.bg_clr {
    background-color: var(--nav_color);
}

.items {
    font-family: var(--fm);
    font-weight: var(--fw-400);
    font-size: var(--fs-18);
    line-height: var(--lh-32);
    color: white;
}

.connect {
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
    font-family: var(--fm);
    font-size: var(--fs-18);
    font-weight: var(--fw-600);
    line-height: var(--lh-32);
    color: white;
    border-radius: 25px;
    border: none;
}

.connect:hover {
    background: linear-gradient(90deg, #FFFFFF, #FFFFFF);
    color: var(--orange_clr);
}

.items {
    position: relative;
}

.items::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: var(--orange_clr);
    bottom: 0;
    transition: all 300ms linear;
}

.items:hover::before {
    width: 100%;
}

.bg_img {
    background-image: url(../png/first_section_img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pt-100 {
    padding-top: 100px;
}

.orci {
    font-family: var(--fm);
    font-weight: var(--fw-600);
    font-size: var(--fs-60);
    line-height: var(--lh-61);
}

.velit {
    font-family: var(--fm);
    font-weight: var(--fw-400);
    font-size: var(--fs-22);
    line-height: var(--lh-33);
    color: white;
}

.brdr {
    border: 3px solid #FFFFFF;
    border-radius: 10px;
}

@media (min-width: 576px) {
    .changes {
        position: relative;
        transform: translate(0, -130px);
    }
}



.adjustments {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.backDrop {

    backdrop-filter: blur(50px);
}

.lorem {
    font-family: var(--fm);
    font-weight: var(--fw-400);
    font-size: var(--fs-18);
    line-height: var(--lh-32);
}

.bg_change {
    background-color: var(--section_color);
}

@media (max-width: 575.9px) {
    .py_40 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (min-width: 1399.9px) {
    .orci {
        font-family: var(--fm);
        font-weight: var(--fw-700);
        font-size: var(--fs-96);
        line-height: var(--lh-95);
    }

    .curus {
        font-family: var(--fm);
        font-weight: var(--fw-600);
        font-size: var(--fs-48);
        line-height: var(--lh-61);
        color: white;
    }
}

@media (max-width: 1399.9px) {
    .curus {
        font-family: var(--fm);
        font-weight: var(--fw-500);
        font-size: var(--fs-36);
        line-height: var(--lh-54);
        color: white;
    }
}

@media (max-width: 1023.9px) {
    #menuicon {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-direction: column;
        z-index: 3;
    }

    #menuicon>span {
        width: 100%;
        height: 3px;
        background-color: azure;
    }

    .lg-view {
        position: fixed;
        width: 100%;
        height: 100%;
        left: -100%;
        top: 0;
        background-color: var(--orange_clr);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .show {
        left: 0;
    }


    /* other font prop */

    .orci {
        font-family: var(--fm);
        font-weight: var(--fw-700);
        font-size: var(--fs-48);
        line-height: var(--lh-54);
    }

    .max_md_none {
        display: none;
    }
}