@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --nav_color: #070402;
    --section_color: #0C0B0B;
    --overflow_sec_clr: #1D1A1A;

    --fm: "Poppins", sans-serif;

    --fw-500: 500;
    --fw-400: 400;
    --fw-700: 700;
    --fw-600: 600;

    --fs-36: 36px;
    --fs-18: 18px;
    --fs-28: 28px;
    --fs-14: 14px;
    --fs-32: 32px;
    --fs-48: 48px;
    --fs-96: 96px;
    --fs-22: 22px;

    --lh-54: 54px;
    --lh-32: 32px;
    --lh-42: 42px;
    --lh-33: 33px;
    --lh-25: 25px;
    --lh-61: 61px;
    --lh-95: 95px;

}